<%= render 'partial/navbar' %>

<div class="main">
<div class="container">
  <div class="col-md-3">
      <!-- vertical-navbar -->
      <%= render 'partial/verticalnavbar'%>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="text-center">
          <span style="font-size:24px;">ワンちゃんの紹介</span>
        </div>
      </div>

      <div class="panel-body">

        <%= form_for @sharing do |f| %>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>ワンちゃんの名前</label>
              <%= f.text_field :sharing_title, placeholder: "ワンちゃんの名前を記入しましょう", class: "form-control", required:"true" %>
               <!-- required: "true"加えることで公開後、空欄で更新できないようになる -->
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>ワンちゃんの紹介</label>
              <%= f.text_area :sharing_content, rows: 8, placeholder: "紹介文を記入しましょう", class: "form-control", required:"true" %>
            </div>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "更新", class:"btn btn-danger" %>
        </div>

        <% end %>

      </div>
    </div>
  </div>
</div>
</div>
