<%= render 'partial/navbar' %>
<div class="main">
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="text-center">
						<span style="font-size:24px;">ペットのシェアリング情報を掲載する</span>
					</div>
				</div>

				<div class="panel-body">
					<!-- ここからフォーム -->
					<%= form_for @sharing do |f| %>
						<div class="row">
							<div class="col-md-12 select">
								<div class="form-group">
									<label>お家の種類</label>
									<%= f.select :home_type, [["一軒家","一軒家"], ["マンション","マンション"], ["アパート","アパート"]], {prompt:"選択してください"}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
								</div>
							</div>
						</div>
						<br>

						<div class="row">
							<div class="col-md-12 select">
								<div class="form-group">
									<label>ペットの種類</label>
									<%= f.select :pet_type, [["犬","犬"], ["猫","猫"], ["ハムスター","ハムスター"], ["ウサギ","ウサギ"], ["フクロウ","フクロウ"], ["ペンギン","ペンギン"], ["ヘビ","ヘビ"]], {prompt:"選択してください"}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
								</div>
							</div>
						</div>
						<br>

						<div class="row">
							<div class="col-md-12 select">
								<div class="form-group">
									<label>ペットの年齢</label>
									<%= f.select :breeding_years, [["0歳",0],["1歳",1], ["2歳",2], ["3歳",3], ["4歳",4], ["5歳",5], ["6歳以上",6]], {prompt:"選択してください"}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
								</div>
							</div>
						</div>
						<br>

						<div class="row">
							<div class="col-md-12 select">
								<div class="form-group">
									<label>ペットのサイズ</label>
									<%= f.select :pet_size, [["小型","小型"], ["中型","中型"], ["大型","大型"], ["超大型","超大型"]], {prompt:"選択してください"}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
								</div>
							</div>
						</div>
						<br>

						<div class="actions">
							<%= f.submit "Save", class: "btn btn-danger" %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
