<%= render 'partial/navbar' %>

<!-- 1.ジャンボトロン(画像) -->
<div class="jumbotron row-space-0" style="margin-top: -20px; background: none; height: 420px;">

  <!-- カルーセル(画像のスライド機能(画像が複数ある場合)) -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- リストの点を表示させる条件分岐 -->
    <% if @photos.length > 1 %>
      <ol class="carousel-indicators">
        <% @photos.each do |photo| %>
          <li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
        <% end %>
      </ol>
    <% end %>

    <!-- ここで画像表示の繰り返し処理を行っている -->
    <div class="carousel-inner" role="listbox">
      <% if @photos %>
        <% @photos.each do |photo| %>
          <div class="item <%= 'active' if photo.id == @photos[0].id %>">
            <%= image_tag photo.image.url(),style: "height:420px; width:100%; overflow:hidden;" %>
          </div>
        <% end %>
      <% end %>
    </div>

    <!-- 左右の矢印を表示させる条件分岐 -->
    <% if @photos.length > 1%>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    <% end %>
  </div>

</div>

<!-- 2.サマリー(sharingのデータ内容) -->
<div class="container-fluid container-listing-show">
  <div class="container">
    <div class="listing-summary row-space-3 row-space-top-3">
      <div class="row">
        <div class="col-md-3 text-center row-space-2">
          <%= link_to user_path(@sharing.user) do %>
            <% if @sharing.user.image.present? %>
              <%= image_tag @sharing.user.image,class:"img-circle profile-2" %>
            <% end %>
          <% end %>
          <h5><%= @sharing.user.name %></h5>
        </div>
        <div class="col-md-6">
        <div class="listing-title" style="font-size:24px;">
          <%= @sharing.sharing_title %>
        </div>
          <div class="row row-space-top-4">
            <div class="col-sm-3 col-xs-3 text-center">
              <i class="fa fa-home fa-3x"></i>
              <h5><%= @sharing.home_type %></h5>
            </div>
            <div class="col-sm-3 col-xs-3 text-center">
              <i class="fa fa-linux fa-3x" aria-hidden="true"></i>
              <h5><%= @sharing.pet_type %></h5>
            </div>
            <div class="col-sm-3 col-xs-3 text-center">
              <i class="fa fa-bug fa-3x" aria-hidden="true"></i>
              <h5><%= @sharing.pet_size %></h5>
            </div>
            <div class="col-sm-3 col-xs-3 text-center">
              <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
              <h5><%= @sharing.breeding_years %>年</h5>
            </div>
          </div>
        </div>

        <!-- 予約フォーム -->
        <div class="col-md-3">
          <div class="panel panel-default panel-show">
            <div class="panel-heading">
              <span style="font-size:16px;"><%= @sharing.price %>円（一日あたり）</span>
            </div>

            <div class="panel-body panel-real">
              <!-- ルーティングを入れ子にしているのでパスが@listingの書き方となる -->
              <!-- ここでstripeの決済newアクションとページへ飛ぶ -->
                <%= form_for [@sharing, @sharing.reservations.new] do |f| %>

                <!-- 予約をするときに、一緒に送るデータ -->
                <%= f.hidden_field :sharing_id, value: @sharing.id %>
                <%= f.hidden_field :price, value: @sharing.price %>
                <%= f.hidden_field :total_price, id:'reservation_total_price' %>

                <div class="row row-space-2">
                  <div class="col-md-6">
                    <label>開始日</label>
                      <%= f.text_field :start_date, :class => 'form-control', placeholder: '開始' %>
                  </div>

                  <div class="col-md-6">
                    <label>終了日</label>
                    <%= f.text_field :end_date, :class => 'form-control', placeholder: '終了', disabled:true %>
                  </div>
                </div>

                <!-- シッター料金 -->
                <div id="sharepet_price" class="row row-space-2 hidden">
                  <div class="col-md-8 col-xs-8">

                  </div>
                  <div class="col-md-4 col-xs-4">

                  </div>
                </div>

                <!-- 手数料 -->
                <div id="applicaton-fee" class="row row-space-2 hidden">
                  <div class="col-md-8 col-xs-8">

                  </div>
                  <div class="col-md-4 col-xs-4">

                  </div>
                </div>

                <!-- 合計料金 -->
                <div id="total-price" class="row row-space-2 hidden">
                  <div class="col-md-8 col-xs-8">

                  </div>
                  <div class="col-md-4 col-xs-4">

                  </div>
                </div>

                <!-- エラーメッセージ -->
                <div id="duplicate-message" class="row hidden">
                    <div class="col-md-12 text-center">
                        <label class="error">その日程は予約できません</label>
                    </div>
                </div>

                <div class="actions text-center">
                  <%= f.submit "この日程で予約する", class: "btn btn-danger btn-wide" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<!-- 3.メインコンテント -->
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h3 class="row-space-3">このペットについて</h3>
      <p><%= @sharing.sharing_content %><%= @sharing.sharing_content %><%= @sharing.sharing_content %><%= @sharing.sharing_content %><%= @sharing.sharing_content %><%= @sharing.sharing_content %><%= @sharing.sharing_content %><%= @sharing.sharing_content %><%= @sharing.sharing_content %><%= @sharing.sharing_content %><%= @sharing.sharing_content %><%= @sharing.sharing_content %><%= @sharing.sharing_content %>
      </p>
    </div>

    <div class="col-md-3">

    </div>
  </div>

  <!-- レビュー    -->
  <div class="row">
    <div class="col-md-9">
      <h3 class="row-space-3">レビュー</h3>

    </div>

    <div class="col-md-3">

    </div>
  </div>


  <!-- google map   -->
  <div class="row">
    <div class="col-md-9">
      <h3 class="row-space-3">アクセス</h3>
      <div id="map"></div>
    </div>

    <div class="col-md-3">

    </div>
  </div>
  <style>
    #map {
      width: 100%;
      height: 350px;
    }
  </style>

  <!-- 近くのシェアペット   -->
  <div class="row">
    <div class="col-md-9">
      <h3 class="row-space-3">近くのシェアペット</h3>

      <% for sharing in @sharing.nearbys(10) %>
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading panel-listing text-center" style="padding: 0;">
              <%= link_to(sharing) do %>
                <%= image_tag sharing.photos[0].image.url(:medium)  if sharing.photos.length > 0 %>
              <% end %>
            </div>

            <div class="panel-body">
              <div class="row">
                <div class="col-md-9 col-xs-9">
                  <%= link_to sharing.sharing_title, sharing %><br>
                </div>
                <div class="col-md-3 col-xs-3">
                <% if sharing.user.image.present? %>
                  <%= image_tag sharing.user.image,class:"img-circle profile-1" %>
                <% end %>
                </div>
                <div class="price-card">
                  <%= sharing.price %> 円
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    </div>

    <div class="col-md-3">

    </div>
  </div>

</div>

<script>

function initMap() {
  // Create the map.マップ全体を作成
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 14,
    center: {lat: <%= @sharing.latitude %>, lng:<%= @sharing.longitude %>},
    mapTypeId: 'terrain'
  });

  // Construct the circle for each value in citymap.
  // Note: We scale the area of the circle based on the population.
  // Add the circle for this city to the map.サークルを作成
  var cityCircle = new google.maps.Circle({
    strokeColor: '#FF0000',
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: '#FF0000',
    fillOpacity: 0.35,
    map: map,
    center: {lat: <%= @sharing.latitude %>, lng:<%= @sharing.longitude %>},
    radius: 500
  });

  }

</script>

<!-- googleマップ -->
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKLzAYsoEoxsjpAi2LJVAxqAQyQLjr4Oo&callback=initMap">
</script>

<!-- ここからdatepicker -->
<script>
$( function() {
  //日付について、それが選択不可能なものかを決める関数(既に予約されている日の重複を防ぐ)
  // inArray()について:dmyがdisabledDates配列になければ-1を返す
  function disable(date){
    dmy = date.getDate() + "-" + (date.getMonth()+1) + "-" + date.getFullYear();
    return [$.inArray(dmy,disabledDates) == -1]; //trueを返す
  }

  // 不可能な日付の配列
  disabledDates = [];

  //事前にdatepickerに選択不可能な日付をセットするajax
  $.ajax({
    url: '/setdate',
    // this data is data for sending to url
    data: {'sharing_id': <%= @sharing.id %>},
    dataType: 'json',
    // callback argument: data is the response data
    // 下のurlを参考
    // http://stackoverflow.com/questions/4345045/javascript-loop-between-date-ranges

    // disabledDates[]にすでに予約されている日付を追加していく
    success: function(data){
      $.each(data,function(objID,objValue){
        for(var d = new Date(objValue.start_date); d <= new Date(objValue.end_date); d.setDate(d.getDate() + 1 )){
          disabledDates.push($.datepicker.formatDate('d-m-yy',d));
        }
      });

      // start_date欄(開始ボタン)がクリックされた時の処理
      $('#reservation_start_date').datepicker({
        dateFormat: 'dd-mm-yy',
        // 本日から
        minDate: 0,
        // 3ヶ月後までの予約
        maxDate: '3m',
        // 一つ一つの選択された日付を無効にする
        beforeShowDay: disable,
        // 日付が選択された時の処理
        onSelect: function(selected){
          // 開始日以前を終了日では無効にする
          $('#reservation_end_date').datepicker("option","minDate",selected);
          // 開始日を入力しないと、終了日を押せない
          $('#reservation_end_date').attr('disabled',false);

          // thisとは#reservation_start_dateの事
          var start_date = $(this).datepicker('getDate');
          var end_date = $('#reservation_end_date').datepicker('getDate');
          var days = (end_date - start_date)/1000/60/60/24 +1 ;

          var inputs = {
            'start_date': start_date,
            'end_date': end_date,
            'sharing_id':<%= @sharing.id %>
          }

  // 選択日に重なりがないかチェックするajax
  // inputしたdataをduplicateアクションに送る
      $.ajax({
        url: "/duplicate",
        data: inputs,
        success: function(data){
        if (data.duplicate) {
          // dataのduplicateがtrue(重なりがある)なら
          // 重なりがある場合は、エラーメッセージを表示
          // また、合計料金,手数料を隠す
          // 予約ボタンの押せないようにする
          $('#duplicate-message').removeClass('hidden');
          $('#sharepet_price').addClass('hidden');
          $('#applicaton-fee').addClass('hidden');
          $('#total-price').addClass('hidden');
          $('.btn-wide').attr('disabled', true);
        }else{
          // dataのduplicateがfalse(傘なら理が無い)なら予約できる
          // 重なりがない場合は、エラーメッセージをかくす
          // 合計料金をtotalに入れる
          // total-priceを表示させる
          $('#duplicate-message').addClass('hidden');

          var sharepet_price = days * <%= @sharing.price %> ;
          var applicaton_fee =  Math.round(sharepet_price * 0.1) ;
          var price_total = sharepet_price + applicaton_fee;
          $('#sharepet_price').removeClass('hidden');
          $('#total-price').removeClass('hidden');
          $('#applicaton-fee').removeClass('hidden');
          $('#sharepet_price .col-md-8').text("ペットレンタル料:"+"<%= @sharing.price %>"+"円"+" x "+days+"日");
          $('#applicaton-fee .col-md-8').text("手数料:ペットレンタル料×10.0%");
          $('#total-price .col-md-8').text("合計料金");

          $('#sharepet_price .col-md-4').text(sharepet_price+"円");
          $('#applicaton-fee .col-md-4').text(applicaton_fee+"円");
          $('#total-price .col-md-4').text(price_total+"円");
          $('#reservation_total_price').val(price_total);
          $('.btn-wide').attr('disabled', false);
          }
        }
      });
    }
  });

      // end_date欄(終了ボタン)がクリックされた時の処理
      //基本的に上のstart_dateと同じだがdateの順番が若干違う
      $('#reservation_end_date').datepicker({
        dateFormat: 'dd-mm-yy',
        minDate: 0,
        maxDate: '3m',
        beforeShowDay: disable,
        onSelect: function(selected){
          $('#reservation_start_date').datepicker("option","maxDate",selected);

          var start_date = $('#reservation_start_date').datepicker('getDate');
          var end_date = $(this).datepicker('getDate');
          var days = (end_date - start_date)/1000/60/60/24 +1 ;

          var inputs = {
            'start_date': start_date,
            'end_date': end_date,
            'sharing_id':<%= @sharing.id %>
          }

  // 選択日に重なりがないかチェックするajax
  $.ajax({
      url: "/duplicate",
      data: inputs,
      success: function(data){
        if (data.duplicate) {
         // 重なりがある場合は、エラーメッセ-ジを表示
          // 合計料金,手数料を隠す
          // 予約ボタンの押せないようにする
          $('#duplicate-message').removeClass('hidden');
          $('#sharepet_price').addClass('hidden');
          $('#applicaton-fee').addClass('hidden');
          $('#total-price').addClass('hidden');
          $('.btn-wide').attr('disabled', true);
        }else{
          // 重なりがなくokな場合は、エラーメッセージをかくす
          // 合計料金をtotalに入れる
          // total-priceを表示させる
          $('#duplicate-message').addClass('hidden');

          var sharepet_price = days * <%= @sharing.price %> ;
          var applicaton_fee =  Math.round(sharepet_price * 0.1) ;
          var price_total = sharepet_price + applicaton_fee;
          $('#sharepet_price').removeClass('hidden');
          $('#total-price').removeClass('hidden');
          $('#applicaton-fee').removeClass('hidden');
          $('#sharepet_price .col-md-8').text("シッター料:"+"<%= @sharing.price %>"+"円"+" x "+days+"日");
          $('#applicaton-fee .col-md-8').text("手数料:シッター料×10.0%");
          $('#total-price .col-md-8').text("合計料金");

          $('#sharepet_price .col-md-4').text(sharepet_price+"円");
          $('#applicaton-fee .col-md-4').text(applicaton_fee+"円");
          $('#total-price .col-md-4').text(price_total+"円");
          $('#reservation_total_price').val(price_total);
          $('.btn-wide').attr('disabled', false);
          }
          }
        });
        }
      });
    }
  });
});
</script>
