<!-- タイトル画面のnavbar用にするためのスクリプト -->
<script type="text/javascript">
  $(function(){
    $(".navbar").removeClass("navbar-devise");
    $(".navbar").addClass("navbar-default");
  });
</script>

<div class="jumbotron">
  <%= render 'partial/navbar' %>

  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="display-3">DON'T WORK<br>DON'T EAT</div>
      </diV>
    </div>
  </div>

<!-- Search Form -->
  <div class="top-search-field">
    <%= form_tag "", method: :get do %>
      <div class="row">
        <div class="container">

          <%#= hidden_field_tag :lat %>
          <%#= hidden_field_tag :lng %>

          <div class="col-md-7 col-xs-10" style="padding-right: 0px">
            <%= text_field_tag :search, params[:search], placeholder: "希望の場所はどこですか？", class: "form-control", id:"top-search-form" %>
          </div>

          <div class="col-md-2 hidden-xs hidden-sm">
            <%= text_field_tag :start_date, params[:start_date], placeholder: "レンタル開始日", class: "form-control" %>
          </div>
          <div class="col-md-2 hidden-xs hidden-sm">
            <%= text_field_tag :end_date, params[:end_date], placeholder: "終了日", class: "form-control" %>
          </div>
          <div class="col-md-1 col-xs-2" style="padding-left: 0px; ">
            <%= submit_tag "検索", class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <!-- ご利用の流れ -->
  <section id="services">
    <div class="container">
      <div class="row row-space-4">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Sharepetとは</h2>
          <h2 class="section-subheading">ペットをレンタルしあうサービスです</h2>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <%= image_tag 'search-icon'%>
          <h4 class="service-heading">探す</h4>
          <p class="text-muted hidden-xs">レンタルしたいペットをこのサイトで検索しましょう。</p>
        </div>
        <div class="col-md-4">
          <%= image_tag 'calendar-icon'%>
          <h4 class="service-heading">予約する</h4>
          <p class="text-muted hidden-xs">いいなと思うペットがいたら、ペットと一緒に過ごしたい日にちを予約しましょう。</p>
        </div>
        <div class="col-md-4">
          <%= image_tag 'home-icon'%>
          <h4 class="service-heading">遊ぶ</h4>
          <p class="text-muted hidden-xs">予約した日の当日になったら、ペットを借りて、自分たちの時間を楽しみましょう！</p>
        </div>
      </div>
    </div>
  </section>

    <!-- おすすめのシッター -->
  <section id="portfolio" class="bg-light-gray row-space-top-4 row-space-4">
    <div class="container">
      <div class="row row-space-2">
        <div class="col-lg-12 text-center">
          <h3 class="section-heading">おすすめのペット紹介</h3>
          <h4 class="section-subheading">Sharepet内で人気のペットたちです</h4>
        </div>
      </div>

      <div class="row">
        <% @users.each do |user|%>
          <% if !user.sharings.blank?%>
            <div class="col-md-4 col-sm-6 portfolio-item row-space-2">
              <%= link_to sharing_path(user.sharings[0]) do %>
                <%= image_tag user.sharings[0].photos[0].image.url(:medium) %>
              <% end %>
              <div class="portfolio-caption">
                <%# if user.image.present? %>
                <%#= image_tag user.image, class:"img-circle profile-1"%>
                <%# end %>
                <span style="font-weight: bold;"><%= user.name %>さん</span>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
</div>

<%= render 'pages/footer' %>
